
h1{
  text-align: center;
}
form{
  background-color: #ccc;
  justify-content: center;
}
svg{
  margin: 0 5%;
}
.srch{
  background-color: white;
  width: 40%;
  text-align: left;
}
.border{
  border: 5px solid black !important;
}
hr{
  margin: 0 20%;
}
.container{
  text-align: center;
}
.btn{
  margin: 3%;
}
.cred{
  color: red;
}